@charset "utf-8";

html,body {
    background-color: #F2E4EE;
    font-size: 30px;
    text-align: center;
    color: #707070;
    margin: 0;
  }

.suki{
 color:#EDA8CD; 
}

.header{
  background-color: #C63967;
  color: #ffffff;
  padding: 50px ;
}

.image{
  padding-top: 70px;
  padding-bottom: 50px;
}

.under{
  margin-bottom: 100px;
}

.btn{
  font-size: 40px;
  display: inline-block;
  padding: 30px 50px;
  border-radius: 50px;
  border: solid 10px #EDA8CD;
  text-decoration: none;
  color: #707070;
  background: #ffffff;
  margin-bottom: 100px;
}
