@charset "utf-8";


html,body {
    font-family: 'Kosugi Maru', sans-serif;
    background-color: #F2E4EE;
    font-size: 30px;
    text-align: center;
    color: #707070;
    margin: 0;
  }

.suki{
 color:#EDA8CD; 
}

.header{
  position: fixed;
  width: 100%;
  background-color: #C63967;
  color: #ffffff;
  font-size: 40px;
  padding: 40px 0px 40px 0px;
  margin-bottom: 300px;
  text-align: center;
}

.image01{
  padding-top: 200px;
  padding-bottom: 50px;
}

.image{
  padding-top: 70px;
  padding-bottom: 50px;
}

.under{
  padding-bottom: 300px;
}

.fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.btn{
  font-size: 40px;
  display: inline-block;
  padding: 30px 50px;
  border-radius: 50px;
  border: solid 10px #EDA8CD;
  text-decoration: none;
  color: #707070;
  background: #ffffff;
  margin: 100px;
}
