@charset "utf-8";

#js-detail {
    visibility: hidden;
    position: fixed;
    z-index: 900;
}

.my-parts {
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
}
.my-parts span::before,
.my-parts span::after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 84%;
    height: 16%;
    margin: -8% 0 0 -42%;
    background: #C63967;
}
.my-parts span::before {
    transform: rotate(-45deg);
}
.my-parts span::after {
    transform: rotate(45deg);
}

.comment{
    position: fixed;
    width: 700px;
    height: 50%;
    top: 50%;
    left: 50%; 
    transform: translateY(-50%) translateX(-50%);
    background-color: #fff;
    overflow-y: auto; /* メニューが多くなったらスクロールできるように */
    color: #707070;
    z-index: 2;
    border-radius: 50px;
    transition: all .6s;
    padding: 30px 30px 30px 30px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.grid-Container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 15% 85%;
}

.grid-img{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    margin: 0px 10px 20px 0px;
    position: relative;
    width: 300px;
    /* background-color:aliceblue; */
}

.HImg{
    padding: 10% 1%;
    transform: scale(1, -1);
}

.grid-title{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0% 5% 5% 30%;
    background-color: #F5D8E8;
    border-radius: 50px;
    padding:20px 0px 40px 0px;
    font-size: 20px;
    text-align:center;
    /* background-color:lightcyan; */
}

.grid-comment{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 10px;
    /* background-color:lightcyan; */
}

.comment-text{
    margin: 5% 5% 5% 30%;
    background-color: #F5D8E8;
    border-radius: 50px;
    padding:25px;
    font-size: 15px;
    min-height: 350px;
}

.kirinuki{
    position: absolute;
    top: -10%;
    left: 0;
};