@charset "utf-8";

html,body {
    font-family: 'Kosugi Maru', sans-serif;
    background-color: #F2E4EE;
    font-size: 30px;
    text-align: center;
    color: #707070;
    margin: 0;
  }

.suki{
 color:#EDA8CD; 
}

.header{
    position: fixed;
    width: 100%;
    background-color: #C63967;
    color: #ffffff;
    font-size: 40px;
    padding: 40px 0px 40px 0px;
    margin-bottom: 300px;
    text-align: center;
  }

/* 点滅 */
.blinking{
    -webkit-animation:blink 0.5s ease-in-out infinite alternate;
    -moz-animation:blink 1s ease-in-out infinite alternate;
    animation:blink 0.8s ease-in-out infinite alternate;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height:400px;
}

@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
