@charset "utf-8";


html,body {
    font-family: 'Kosugi Maru', sans-serif;
    background-color: #F2E4EE;
    margin: 0;
    font-size: 15px;
    color: #707070;
  }

.suki{
    color:#EDA8CD; 
}

.header{
  /*position: fixed;*/
    width: 100%;
    background-color: #C63967;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    padding: 15px 0px 15px 0px;
}

.form-label {
  display: block;
  margin: 7% 10% 1% 10%;
}

.form{
    margin: 5% 10% 5% 10%;
    background-color: #ffffff;
    border-radius: 40px;
    border: solid 3px #707070;
    height: 90%;
}

input[type="text"]{
    width: 70%;
    height: 15px;
    border: 3px solid #707070;
    padding: 0.8em;
    font-size: 15px;
    border-radius: 30px;
    outline: none;
}

.usui{
    color: #BDBDBD;
}

textarea{
    padding: 0.8em;
    outline: none;
    border: 3px solid #707070;
    font-size: 15px;
    width: 70%;
    height: 50vh;
    border-radius: 30px;
}

.title{
    margin-top: 3px;
    margin-right: 10%;
    margin-left: 10%;
}

.fixed {
    bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.button_wrapper{
    text-align: center;
}

#js-canvas{
    display: none;
}

#js-submit{
    font-size: 15px;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    border: solid 3px #EDA8CD;
    text-decoration: none;
    color: #707070;
    background: #ffffff;
}